{% extends 'base.html' %}
{% load static %}


{% block title %}Специальные тренировки{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<section class="spac">
    <div class="container">
       <h2 class="title-spec">Специальные тренировки</h2>
       {% for spectren in spectrens %}
       <div class="spec-card__info">
        <h3 class="spac-card__name">{{spectren.exercise}}</h3>
        <h3 class="spec-card__title">{{spectren.times}} </h3>
        <img src="{{ spectren.image }}" alt="">
    </div>
       {% endfor %}
    </div>
</section>
{% else %}
<section class="access">
    <div class="container">
        <h1 class="title">Вы анонимный пользователь</h1>
        <p class="dark-text">Чтобы дальше работать с приложением, Вам необходимо пройти регистрацию и авторизацию</p>
        <div class="access-action">
            <a href="{% url 'sign_up_page'%}" class="dark-button">Регистрация</a>
            <a href="{% url 'login_page'%}" class="dark-button">Вход</a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}