{% extends 'base.html' %}
{% load static %}


{% block title %}Тренера{% endblock %}


{% block content %}
{% if user.is_authenticated %}
<section class="trener-card">
    <div class="container">
        <h2 class="tren-card__tit">{{ trener.first_name }}</h2>
        <h4 class="tren-card__opit">{{trener.det_title}}</h4>
        <h4 class="tren-card__item">{{trener.specialization}}</h4>
        <div class="tren-card__descrption">
            <img src="{{ trener.foto.url }}" alt="">
            <p class="describing-trener">{{trener.describing_trener}}</p>
            <h3 class="lessons-tren">Стоимость занятий
                Индивидуальные:{{trener.lessons_tren}}</h3>
            <h3 class="contact-tren">Контакты:{{trener.contact}}</h3>
            <a href="#" class="dark-btn">Связаться</a>
        </div>
    </div>
</section>
{% else %}
<section class="access">
    <div class="container">
        <h1 class="title">Вы анонимный пользователь</h1>
        <p class="dark-text">Чтобы дальше работать с приложением, Вам необходимо пройти регистрацию и авторизацию</p>
        <div class="access-action">
            <a href="{% url 'sign_up_page'%}" class="dark-button">Регистрация</a>
            <a href="{% url 'login_page'%}" class="dark-button">Вход</a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}